In [6]:
import nltk
nltk.download('stopwords')
nltk.download('vader_lexicon')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [7]:
import csv
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()
stop = set(stopwords.words('english'))
import pymongo

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

In [ ]:
stop_words = stopwords.words('english')
stop_words

In [44]:
rev_df = pd.read_excel('result.xlsx')

In [45]:
rev_df['Airline'] = rev_df['Reviews'].apply(lambda x: 'Air Canada')
rev_df['Lowercase'] = rev_df['Reviews'].apply(lambda x: ' '.join(word.lower() for word in x.split()))
rev_df['PunctuationsRemoved'] = rev_df['Reviews'].str.replace('[^|\w\s]','')
rev_df['OtherTextsRemoved'] = rev_df['PunctuationsRemoved'].str.replace('trip verified','')
rev_df['OtherTextsRemoved'] = rev_df['OtherTextsRemoved'].str.replace('not verified','')
rev_df['StopWordsRemoved'] = rev_df['OtherTextsRemoved'].apply(lambda x: ' '.join(x for x in x.split() if x not in stop))

rev_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,Reviews,Nikhil,Usman,Jay,Hamad,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved
0,0,✅ Trip Verified | Recently my daughter and I ...,1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...
1,1,✅ Trip Verified | First the LAX ticket counte...,-1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...
2,2,✅ Trip Verified | \nWe had to go back from st...,-1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...
3,3,✅ Trip Verified | First start off my trip wit...,-1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...
4,4,✅ Trip Verified | I booked a flight through fl...,0.0,NaN,NaN,NaN,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...
...,...,...,...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,0.0,NaN,NaN,NaN,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,-1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...
487,487,✅ Trip Verified | I was scheduled to fly Toro...,-1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...
488,488,✅ Trip Verified | Toronto to New York. My fli...,-1.0,NaN,NaN,NaN,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...
489,489,Not Verified | Cleveland to Lisbon via Toront...,1.0,NaN,NaN,NaN,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...

In [46]:
rev_df = rev_df.drop(columns=['Jay','Hamad', 'Nikhil', 'Usman'])

In [47]:
rev_df.head()

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...

In [17]:
nltk = rev_df.copy()
spacyText = rev_df.copy()
vader = rev_df.copy()
textBlob = rev_df.copy()

In [19]:
from textblob import TextBlob

textBlob['Polarity'] = rev_df['StopWordsRemoved'].apply(lambda x: TextBlob(x).sentiment[0])
textBlob

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved,Polarity
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...,0.091865
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...,-0.210000
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...,-0.227500
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...,-0.150000
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...,0.025000
...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...,-0.101488
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...,0.031746
487,487,✅ Trip Verified | I was scheduled to fly Toro...,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...,0.383333
488,488,✅ Trip Verified | Toronto to New York. My fli...,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...,0.090657
489,489,Not Verified | Cleveland to Lisbon via Toront...,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...,0.172500

In [20]:
textBlob['Sentiment'] = textBlob['Polarity'].apply(lambda c: 'neutral' if c==0 else 'positive' if c>=0.01 else 'negative')
textBlob

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved,Polarity,Sentiment
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...,0.091865,positive
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...,-0.210000,negative
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...,-0.227500,negative
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...,-0.150000,negative
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...,0.025000,positive
...,...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...,-0.101488,negative
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...,0.031746,positive
487,487,✅ Trip Verified | I was scheduled to fly Toro...,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...,0.383333,positive
488,488,✅ Trip Verified | Toronto to New York. My fli...,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...,0.090657,positive
489,489,Not Verified | Cleveland to Lisbon via Toront...,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...,0.172500,positive

In [21]:
textBlob["Sentiment"]

0      positive
1      negative
2      negative
3      negative
4      positive
         ...
485    negative
486    positive
487    positive
488    positive
489    positive
Name: Sentiment, Length: 490, dtype: object

In [22]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()
nltk['Polarity'] = nltk['StopWordsRemoved'].apply(lambda x: sia.polarity_scores(x).get('compound'))

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [23]:
nltk['Sentiment'] = nltk['Polarity'].apply(lambda c: 'neutral' if c<0.5 and c>-0.5 else 'positive' if c>=0.5 else 'negative' if c<0 else 'empty')
nltk

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved,Polarity,Sentiment
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...,0.9381,positive
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...,-0.9015,negative
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...,-0.5849,negative
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...,-0.8307,negative
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...,0.5574,positive
...,...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...,-0.6222,negative
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...,-0.1788,neutral
487,487,✅ Trip Verified | I was scheduled to fly Toro...,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...,-0.2263,neutral
488,488,✅ Trip Verified | Toronto to New York. My fli...,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...,-0.9713,negative
489,489,Not Verified | Cleveland to Lisbon via Toront...,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...,0.8225,positive

In [24]:
nltk['Sentiment']

0      positive
1      negative
2      negative
3      negative
4      positive
         ...
485    negative
486     neutral
487     neutral
488    negative
489    positive
Name: Sentiment, Length: 490, dtype: object

In [ ]:
!pip install spacytextblob                                                           #REQUIREMENT
!python -m textblob.download_corpora
!python -m spacy download en_core_web_sm

In [26]:
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [105]:
nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')
spacyText['Polarity'] =  spacyText['StopWordsRemoved'].apply(lambda x: nlp(x)._.blob.polarity)
spacyText

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved,Polarity,Sentiment
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...,0.091865,positive
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...,-0.210000,negative
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...,-0.227500,negative
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...,-0.150000,negative
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...,0.025000,positive
...,...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...,-0.101488,negative
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...,0.031746,positive
487,487,✅ Trip Verified | I was scheduled to fly Toro...,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...,0.383333,positive
488,488,✅ Trip Verified | Toronto to New York. My fli...,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...,0.090657,positive
489,489,Not Verified | Cleveland to Lisbon via Toront...,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...,0.172500,positive

In [28]:
spacyText['Sentiment'] = spacyText['Polarity'].apply(lambda c: 'neutral' if c==0 else 'positive' if c>=0.01 else 'negative')
spacyText

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved,Polarity,Sentiment
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...,0.091865,positive
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...,-0.210000,negative
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...,-0.227500,negative
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...,-0.150000,negative
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...,0.025000,positive
...,...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...,-0.101488,negative
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...,0.031746,positive
487,487,✅ Trip Verified | I was scheduled to fly Toro...,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...,0.383333,positive
488,488,✅ Trip Verified | Toronto to New York. My fli...,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...,0.090657,positive
489,489,Not Verified | Cleveland to Lisbon via Toront...,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...,0.172500,positive

In [29]:
spacyText['Sentiment']

0      positive
1      negative
2      negative
3      negative
4      positive
         ...
485    negative
486    positive
487    positive
488    positive
489    positive
Name: Sentiment, Length: 490, dtype: object

In [ ]:
!pip install vaderSentiment

In [31]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
vader['Polarity'] = vader['StopWordsRemoved'].apply(lambda x: analyzer.polarity_scores(x).get('compound'))

In [32]:
vader['Sentiment'] = vader['Polarity'].apply(lambda c: 'neutral' if c<0.5 and c>-0.5 else 'positive' if c>=0.5 else 'negative' if c<0 else 'empty')
vader

,Unnamed: 0,Reviews,Airline,Lowercase,PunctuationsRemoved,OtherTextsRemoved,StopWordsRemoved,Polarity,Sentiment
0,0,✅ Trip Verified | Recently my daughter and I ...,Air Canada,✅ trip verified | recently my daughter and i f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently my daughter and I f...,Trip Verified | Recently daughter I flew Shang...,0.9832,positive
1,1,✅ Trip Verified | First the LAX ticket counte...,Air Canada,✅ trip verified | first the lax ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First the LAX ticket counter...,Trip Verified | First LAX ticket counter didnt...,-0.9015,negative
2,2,✅ Trip Verified | \nWe had to go back from st...,Air Canada,✅ trip verified | we had to go back from start...,Trip Verified | \nWe had to go back from sta...,Trip Verified | \nWe had to go back from sta...,Trip Verified | We go back starting track gate...,-0.5849,negative
3,3,✅ Trip Verified | First start off my trip wit...,Air Canada,✅ trip verified | first start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start off my trip with...,Trip Verified | First start trip first flight ...,-0.8307,negative
4,4,✅ Trip Verified | I booked a flight through fl...,Air Canada,✅ trip verified | i booked a flight through fl...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked a flight through fli...,Trip Verified | I booked flight flighthub due ...,0.5574,positive
...,...,...,...,...,...,...,...,...,...
485,485,✅ Trip Verified | Their Boeing 787 seats are ...,Air Canada,✅ trip verified | their boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats are r...,Trip Verified | Their Boeing 787 seats really ...,-0.6222,negative
486,486,✅ Trip Verified | Vancouver to Toronto. I typi...,Air Canada,✅ trip verified | vancouver to toronto. i typi...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver to Toronto I typica...,Trip Verified | Vancouver Toronto I typically ...,-0.1788,neutral
487,487,✅ Trip Verified | I was scheduled to fly Toro...,Air Canada,✅ trip verified | i was scheduled to fly toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I was scheduled to fly Toron...,Trip Verified | I scheduled fly Toronto Las Ve...,-0.2263,neutral
488,488,✅ Trip Verified | Toronto to New York. My fli...,Air Canada,✅ trip verified | toronto to new york. my flig...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto to New York My fligh...,Trip Verified | Toronto New York My flight del...,-0.9713,negative
489,489,Not Verified | Cleveland to Lisbon via Toront...,Air Canada,not verified | cleveland to lisbon via toronto...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland to Lisbon via Toront...,Not Verified | Cleveland Lisbon via Toronto I ...,0.8519,positive

In [33]:
senti = vader['Sentiment']

In [34]:
result = pd.DataFrame

In [35]:

frame = [vader['Sentiment'], nltk['Sentiment'], textBlob['Sentiment'], spacyText['Sentiment']]

In [36]:
result = pd.concat(frame, axis=1)

In [37]:
result

    Sentiment Sentiment Sentiment Sentiment
0    positive  positive  positive  positive
1    negative  negative  negative  negative
2    negative  negative  negative  negative
3    negative  negative  negative  negative
4    positive  positive  positive  positive
..        ...       ...       ...       ...
485  negative  negative  negative  negative
486   neutral   neutral  positive  positive
487   neutral   neutral  positive  positive
488  negative  negative  positive  positive
489  positive  positive  positive  positive

[490 rows x 4 columns]

In [39]:
result.to_csv('updated_results.csv')

In [40]:
from google.colab import files
files.download('updated_results.csv')

In [48]:
nltk.describe()

       Unnamed: 0    Polarity
count   490.00000  490.000000
mean    244.50000   -0.016727
std     141.59508    0.712562
min       0.00000   -0.992300
25%     122.25000   -0.709600
50%     244.50000   -0.177900
75%     366.75000    0.756075
max     489.00000    0.996900

In [49]:
textBlob.describe()

       Unnamed: 0    Polarity
count   490.00000  490.000000
mean    244.50000    0.042235
std     141.59508    0.216756
min       0.00000   -1.000000
25%     122.25000   -0.076705
50%     244.50000    0.039141
75%     366.75000    0.150000
max     489.00000    0.900000

In [50]:
vader.describe()

       Unnamed: 0    Polarity
count   490.00000  490.000000
mean    244.50000   -0.026198
std     141.59508    0.714908
min       0.00000   -0.992700
25%     122.25000   -0.727800
50%     244.50000   -0.178350
75%     366.75000    0.747500
max     489.00000    0.997800

In [51]:
spacyText.describe()

       Unnamed: 0    Polarity
count   490.00000  490.000000
mean    244.50000    0.042235
std     141.59508    0.216756
min       0.00000   -1.000000
25%     122.25000   -0.076705
50%     244.50000    0.039141
75%     366.75000    0.150000
max     489.00000    0.900000

## **Code for finding the frequency of negative words.**

In [155]:
test_df =pd.read_excel('result.xlsx')

result = {
    '-1': 0,
    '0': 0,
    '1': 0
}
dic = test_df.to_dict(orient='records')

for row in dic:
  if 'fantastic' in row['Reviews'].lower():
    if float(row['Nikhil']) == -1.0:
      result['-1'] += 1
    elif float(row['Nikhil']) == 1.0:
      result['1'] += 1
    else:
       result['0'] += 1

print(result)

{'-1': 2, '0': 0, '1': 1}

# **Converting the ipynb file to html and then converting it into pdf**

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [117]:
!jupyter nbconvert --to html /content/drive/MyDrive/Colab_Notebooks/airlines.ipynb

[NbConvertApp] Converting notebook /content/drive/MyDrive/Colab_Notebooks/airlines.ipynb to html
[NbConvertApp] Writing 404080 bytes to /content/drive/MyDrive/Colab_Notebooks/airlines.html

# **Since Spacy Algorithm was better at analyzing the sentiment of the reviews, this algorithm is chosen for the users to input a statement and see the sentiment analysis first hand**

In [163]:
user_input = input("The text to check: ")
user_input.replace('[^|\w\s]','')
text_tokens = word_tokenize(user_input)
tokens_without_sw= [word for word in text_tokens if not word in stop]

def listToString(s): 
    
    # initialize an empty string
    str1 = " " 
    
    # return string  
    return (str1.join(s))

new_word = listToString(tokens_without_sw)
new = nlp(new_word)._.blob.polarity
if new == 0:
  print("The statement is neutral")
elif new >= 0.1:
  print("The statement is positive")
else: print("The statement is negative")

The text to check: Lets go to dubai and explore
The statement is neutral